<nav aria-label="p04-store サンプル">
  <ul>
    <li><a routerLink="/p04-store/learn-01-cva">learn-01-cva</a></li>
    <li>
      <a routerLink="/p04-store/learn-02-with-latest-from">learn-02-with-latest-from</a>
    </li>
    <li>
      <a routerLink="/p04-store/learn-03-store-select-signal-to-signal"
        >learn-03-store-select-signal-to-signal</a
      >
    </li>
    <li>
      <a routerLink="/p04-store/learn-04-dispatch-false">learn-04-dispatch-false</a>
    </li>
    <li>
      <a routerLink="/p04-store/learn-05-new-subscription">learn-05-new-subscription</a>
    </li>
    <li>
      <a routerLink="/p04-store/learn-06-debounce-time-debounce">learn-06-debounce-time-debounce</a>
    </li>
    <li>
      <a routerLink="/p04-store/learn-07-signal-debounce">learn-07-signal-debounce</a>
    </li>
    <li>
      <a routerLink="/p04-store/learn-08-distinct-until-changed">learn-08-distinct-until-changed</a>
    </li>
    <li>
      <a routerLink="/p04-store/learn-09-distinct-until-key-changed"
        >learn-09-distinct-until-key-changed</a
      >
    </li>
    <li><a routerLink="/p04-store/learn-10-computed">learn-10-computed</a></li>
    <li><a routerLink="/dashboard">dashboard</a></li>
  </ul>
</nav>
